/** header**/
.nav-bar{
    width: 100%;
    background: var(--TEXT_COLOR_L2);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px ;
    height: 70px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 98 !important;
    opacity: 1;
}
.nav-bar .nav-bar-link{
    display: flex;
    justify-content: space-around;
    align-items: center ;
}
.btn{
    background: transparent !important;
    border: none !important;
}
.btn:focus{
    box-shadow: none !important;
}


.nav-bar .nav-bar-link img{
    margin: 0 10px;

}

.nav-bar .nav-bar-link .nav-bar-var-link{
    display: flex;
    list-style: none; 
    align-items: center; 
    justify-content: center;
    margin-top: 4%;
    position: relative;
}
.nav-bar-var-link li{
    display: inline-block;
    margin: 0 10px;
}
.nav-bar-var-link li a{
    text-decoration: none;
    color: var(--TEXT_COLOR_L4);
}
.nav-bar-var-link li a:hover{
    color: var(--BG_GRADIENT_L0);
}

.nav-bar-search{
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav-bar-search .search-input input{
    border-top: none !important;
    border-left: none !important;
    border-right: none !important;
    border-bottom:1px solid var(--TEXT_COLOR_L4) !important;
    background: transparent !important;
    color: var(--TEXT_COLOR_L4) !important;
    box-shadow: none !important ;
}
.nav-bar-search .search-input input:focus{
    outline: none !important;
    box-shadow: none !important;
}
.nav-bar-search .search-input .fas{
    color:var(--TEXT_COLOR_L4);
    margin-right: 10px;
    cursor: pointer;
}
.nav-bar-search a{
    text-decoration: none;
    color: var(--TEXT_COLOR_L4);
    margin: 0 5px;
    font-size: 14px;
    font-weight: 500;
}
.nav-bar-search a:hover{
    color:var(--BG_GRADIENT_L0)
}

.subscribe{
    background: var(--TEXT_BTN_COLOR);
    padding: 2px 6px;
    border-radius: 5px;
    color: var(--TEXT_COLOR_L0) !important;
}
.min-subscribe{
    background: var(--TEXT_BTN_COLOR);
    padding: 2px 6px;
    border-radius: 5px;
    color: var(--TEXT_COLOR_L0) !important;
    text-decoration: none;
    margin-top: 2%;
    font-size:  12px;
    display: none;
}
@media screen and (max-width:1250px){
    .nav-bar{
        padding: 0 10px;
    }
    .nav-bar-var-link li{
        margin: 0 8px;
    }
    .nav-bar .nav-bar-link img{
        margin: 0 6px;
    }
}

@media screen and (max-width:1100px){
    .nav-bar-link .nav-bar-var-link{
        display: none !important;
    }
    .logo{
        width: 100px;
    }
}

@media screen and (max-width:770px){
    .subscribe{
        display: none;
    }
    .min-subscribe{
        display: block;
    }
    input{
        width: 160px;
    }
    .logo{
        width: 90px;
    }
    .search-input .fas{
        font-size: 14px;
    }
    .dropdown-menu{
        height: 100vh;
    }
    .dropdown .btn .fas{
        font-size: 15px;
    }
    .nav-bar{
        height: 60px;
    }

}
@media screen and (max-width:670px){
    .header-login{
        display: none;
    }
    .logo{
        width: 85px;
    }
    .min-subscribe{
        font-size: 10px;
    }
    input{
        width: 80px !important;
    }
    .search-input .fas{
        font-size: 12px;
    }
}
/** login model **/
#staticBackdrop .modal-content{
    background: var(--BG_COLOR_L1) !important;
    padding: 20px !important;
}
.modal-header{
    margin-top: 0px !important;
    margin-bottom: 50px !important;
    border: none !important;

}
.modal-header .btn-close{
    color:var(--TEXT_COLOR_L0) !important;
    background: none !important;
    padding: none !important;

}
.modal-header .btn-close:focus{
    outline: none !important;
    box-shadow: none !important;
}

.modal-header .btn-close .fas{
    font-size: 25px;
}

.modal-body{
    padding: 10px 0  30px !important;

}
.modal-body h4{
    color:var(--TEXT_COLOR_L0) !important; 
    font-size: 16px;
    margin-bottom: 50px !important;
    text-align: center !important;
}
.modal-body .modal-body-account{
    text-align: center;
    margin-bottom: 30px !important;
    width: 100% !important;
}
.modal-body p{
    text-align: center;
    color: var(--TEXT_COLOR_L0);
}
.modal-body .modal-body-account a{
    font-size: 14px;
    text-align: center;
    text-decoration: none;
    border:2px solid var(--TEXT_LINK_COLOR);
    color: var(--TEXT_LINK_COLOR);
    padding: 15px 50px;
    background-color: rgba(var(--TEXT_LINK_COLOR), var(--ALPHA));
    width: 100% !important;
}
.modal-body .modal-body-account a:hover{
    color: var(--TEXT_COLOR_L0);  
}
.modal-body .modal-body-mobile{
    width: 100%;
    text-align: center;
}
.modal-body .modal-body-mobile label{
    color: var(--TEXT_COLOR_L1) !important;
    border-bottom: 2px solid var(--TEXT_LINK_COLOR) !important;

}

.modal-body .modal-body-mobile input{
    width: 70%;
    background: none;
    border:none;
    border-bottom: 2px solid var(--TEXT_LINK_COLOR) !important;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button{
    -webkit-appearance: none;
    margin: 0;

}

.modal-body .modal-body-mobile input:focus{
outline:none;
}


/**Subscribe **/
#exampleModalToggle .modal-content{
    padding: 10px  40px !important;
    background: var(--BG_COLOR_L1) !important;

}

#exampleModalToggle .modal-body{
    color:var(--TEXT_COLOR_L1) !important;
}
#exampleModalToggle .modal-body table tr{
    border-bottom: 1px solid #555 !important;
    margin-top: 10px !important;
}
#exampleModalToggle .modal-body table tr td{
    font-size: 16px !important;
    font-weight: 400 !important;
}
#exampleModalToggle .modal-body table tr th span{
    background: white !important;
    padding: 2px 4px !important ;
    color:var(--BG_COLOR_L1) !important;
    border-radius: 10px;
    font-size: 10px;
}
#exampleModalToggle .modal-body table tr td i{
    font-size: 12px !important; 
    margin-left: 10px !important; 
}
#exampleModalToggle .modal-body table tr td span{
    font-size: 12px !important; 
    margin-left: 10px !important; 
}
#exampleModalToggle .modal-footer{
    margin: 0 !important;
    padding: 0 !important;
    border:none !important;
}
#exampleModalToggle .modal-footer button{
    width: 100% !important;
    font-size: 18px !important;
    background-color: var(--TEXT_LINK_COLOR) !important; 
    border-radius: 5px !important;
    padding: 10px 0 !important ;
}
#exampleModalToggle .modal-footer button i{
    font-size: 14px !important;
}
#exampleModalToggle .modal-body .plan-type{
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding-top: 20px !important;
}
#exampleModalToggle .modal-body .plan-type .plan-info{
    width: 140px;
    border: 1px solid var(--TEXT_LINK_COLOR);
    border-radius:5px;
    text-align: center;

}
#exampleModalToggle .modal-body .plan-type .plan-info:hover{
    background-color: rgba(32, 136, 184,0.3);
}

#exampleModalToggle .modal-body .plan-type .plan-info p{
    color:var(--TEXT_COLOR_L0);
    margin: 0 !important;
}
#exampleModalToggle .modal-body .plan-type .plan-info small{
    color:var(--TEXT_COLOR_L0);
    font-weight: 600 !important;
    font-size: 24px !important;
}

#exampleModalToggle2 .modal-content{
    background: var(--BG_COLOR_L1) !important;
    padding: 20px 50px !important;
    color: white;

}
#exampleModalToggle2 .modal-content .modal-body{
    text-align: center !important;
    margin: 0 !important;
    padding: 50px 0 70px !important;
}
#exampleModalToggle2 .modal-content .modal-body a{
    width: 100%;
    border: 2px solid var(--TEXT_LINK_COLOR);
    color:var(--TEXT_LINK_COLOR);
    padding: 10px 70px;
    text-decoration: none;
    margin-top: 50px !important;
}
@media screen and (max-width:900px){
    #exampleModalToggle2 .modal-content .modal-body a{
        padding: 10px 20px !important;
        font-size: 12px !important;
    }
    #exampleModalToggle .modal-body .plan-type .plan-info small{
        font-weight: 500 !important;
        font-size: 18px !important;
    }
    #exampleModalToggle .modal-body .plan-type .plan-info span{
        font-size: 9px !important;
    }
    #exampleModalToggle .modal-content{
        padding: 10px  20px !important;
    }
    #exampleModalToggle2 .modal-content{
        padding: 20px 30px !important;
    
    }

}

#exampleModalToggle2 .modal-content .modal-body h5{
    margin-top: 40px !important;
}
#exampleModalToggle2 div input{
    background: transparent !important;
    color: var(--TEXT_COLOR_L1) !important;
    width: 60% !important;
    height: 40px !important;
    border: none !important;
    border-bottom: 1px solid var(--TEXT_LINK_COLOR) !important;
}
#exampleModalToggle2 div input:focus{
    outline: none !important;
    box-shadow: none !important;
}

#exampleModalToggle2 .modal-content .modal-footer{
    text-align: center !important;
    margin-bottom: 0 !important;
    padding: 0 !important;
    width: 100% !important;
    display: flex;
    justify-content: right;
    border:none !important;
}
#exampleModalToggle2 .modal-content .modal-footer .fas{
    color: var(--TEXT_LINK_COLOR) !important;
}

/** about info **/
.about-info{
    padding: 120px 40px 0;
    width: 100%;
}
.about-info p {
    color: var(--TEXT_COLOR_L4);
    font-size: 14px;
}

.expr{
    color: black !important;
    font-weight: 600;
}
.about-info p span{
    font-weight: 600;
    color: black !important;
}


/**Footer **/
.footer{
    width: 100%;
    padding: 40px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color: var(--BG_COLOR_L4);
}
.footer-col-1{
    width: 50%;
}
.footer-col-1 p{
    color: var(--BG_GRADIENT_L0);
    font-size: 12px;
}
.footer-col-1 p a{
    color: var(--TEXT_COLOR_L4);
    font-size: 14px;
    text-decoration: none;
    margin-right:10px;
}
.footer-col-1 p a:hover{
    color: var(--TEXT_LINK_COLOR);
}
.footer-col-2{
    width: 25%;
}

.footer-col-2 h4{
    color: var(--TEXT_COLOR_L4);
    font-size: 14px;
    text-align: center;

}
.footer-col-2 div{
    text-align: center;
}
.footer-col-2 div .fab{
    font-size: 40px;
    margin-right: 10px;
    color:var(--TEXT_COLOR_L4);
}
.footer-col-2 div .fab:hover{
    color:var(--TEXT_LINK_COLOR);
}
.footer-col-3{
    width: 25%;
}
.footer-col-3 h4{
    font-size: 14px;
    color: var(--TEXT_COLOR_L4);
}
.footer-col-3 div{
    padding: 5px;
    display: flex;
    flex-wrap: wrap;
}
.footer-col-3 div a{
    text-decoration: none;
    color: var(--TEXT_COLOR_L0);
    background-color: var(--TEXT_COLOR_L4);
    padding: 8px 14px;
    margin:0  10px  10px 0;
    border-radius: 10px;
    font-size: 16px;
}
.footer-col-3 div a .fab{
    font-size: 20px;
}

.footer-col-3 div a:hover{
    color: var(--TEXT_COLOR_L0);
    background: var(--TEXT_LINK_COLOR);
}

@media screen and (max-width:900px){
    .footer{
        padding: 20px;
    }
    .footer-col-1{
        width: 100%;
        margin-bottom: 30px;
    }
    .footer-col-2{
        width: 50%;
    }
    .footer-col-3{
        width: 50%;
    }

}
html,
body{
    background:var(--TEXT_COLOR_L2);
}