html,
body{
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'Roboto', sans-serif !important;
}

:root {
    --ALPHA:0.4;
    --BRAND_BLUE: #1f80e0;
    --BRAND_RED: #f15151;
    --BRAND_ORANGE: #db882a;
    --BG_GRADIENT_L0: linear-gradient(to bottom, #141b29, #0c111b 300px);
    --BG_GRADIENT_L1: linear-gradient(to bottom, #192133, #111826);
    --BG_GRADIENT_L2: linear-gradient(to bottom, #334366, #334366, #1c2940);
    --CARD_GRADIENT: #030B17;
    --HEADER_COLOR: #121926;
    --BG_COLOR_L0: #0c111b;
    --BG_COLOR_L1: #192133;
    --BG_COLOR_L2: #334366;
    --BG_COLOR_L3: rgba(144, 153, 153, 0.1);
    --BORDER_COLOR_L0: #2E3333;
    --TEXT_COLOR_L0: #fff;
    --TEXT_COLOR_L1: rgba(255, 255, 255, 0.8);
    --TEXT_COLOR_L2: rgba(255, 255, 255, 0.6);
    --TEXT_COLOR_L3: #DADADA;
    --TEXT_COLOR_L4: #909999;
    --TEXT_LINK_COLOR: #1f80e0;
    --TEXT_BTN_COLOR: #1f80e0;
}

.main-heading{
    color:var(--TEXT_COLOR_L0);
    font-size: 20px;
    font-weight: 600;
    margin: 0 0 0 60px!important;

}
.main-heading:hover{
    color: var(--TEXT_LINK_COLOR);
}
@media screen and (max-width:1000px){
    .main-heading{
        font-size: 18px;
        margin: 0 0 0 40px !important;
    }
}
@media screen and (max-width:770px){
    .main-heading{
        font-size: 14px;
        margin: 0 0 0 20px !important;
    }
}
